<form [formGroup]="paziente">
  
  <fieldset formGroupName="anagrafica">
    <legend>Dati anagrafici</legend>
    <div class="flex flex-col p-4">
      <label for="nome">Nome:</label>
      <input
        [invalid]="checkFormFieldValidity('anagrafica.nome')"
        class="w-2xs"
        formControlName="nome"
        id="nome"
        pInputText
        type="text"
      />
      @if (checkFormFieldValidity('anagrafica.nome')) {
        @if (getFormFieldError('anagrafica.nome', 'required')) {
          <p-message severity="error" variant="simple"> Il campo 'nome' è obbligatorio.</p-message>
        }
      }
    </div>
    <div class="flex flex-col p-4">
      <label for="cognome">Cognome:</label>
      <input
        [invalid]="checkFormFieldValidity('anagrafica.cognome')"
        class="w-2xs"
        formControlName="cognome"
        id="cognome"
        pInputText
        type="text"
      />
      @if (checkFormFieldValidity('anagrafica.cognome')) {
        @if (getFormFieldError('anagrafica.cognome', 'required')) {
          <p-message severity="error" variant="simple">
            Il campo 'cognome' è obbligatorio.
          </p-message>
        }
      }
    </div>
    <div class="flex flex-col p-4">
      <label for="dataNascita">Data di Nascita:</label>
      <p-datePicker
        [invalid]="checkFormFieldValidity('anagrafica.dataNascita')"
        class="w-2xs"
        formControlName="dataNascita"
        id="dataNascita"
      />
      @if (checkFormFieldValidity('anagrafica.dataNascita')) {
        @if (getFormFieldError('anagrafica.dataNascita', 'required')) {
          <p-message severity="error" variant="simple">
            Il campo 'Data di Nascita' è obbligatorio.
          </p-message>
        }
      }
    </div>
  </fieldset>

  <fieldset formGroupName="sanitari">
    <legend>Dati sanitari</legend>
    <div class="flex flex-col p-4">
      <label for="colore">Codice Colore</label>
      <p-select
        [invalid]="checkFormFieldValidity('sanitari.codiceColore')"
        [options]="gestioneRisorse.triageColors()"
        [showClear]="true"
        class="w-2xs"
        formControlName="codiceColore"
        id="colore"
        optionLabel="displayName"
        optionValue="code"
      />
      @if (checkFormFieldValidity('sanitari.codiceColore')) {
        @if (getFormFieldError('sanitari.codiceColore', 'required')) {
          <p-message severity="error" variant="simple">
            Il campo 'codice colore' è obbligatorio.
          </p-message>
        }
      }
    </div>
  </fieldset>

  <p-button
    (click)="submitForm()"
    [disabled]="paziente.invalid"
    class="m-4"
    label="Accetta Paziente"
  />
</form>
