<form [formGroup]="user">
  <div class="flex flex-col p-4">
    <label for="nome">Nome: {{ getFieldValue('nome') }}</label>
    <input
      [invalid]="isFieldInvalid('nome')"
      class="w-2xs"
      formControlName="nome"
      id="nome"
      pInputText
    >
    @if (isFieldInvalid('nome')) {
      @if (getFieldErrors('nome')?.['required']) {
        <p-message severity="error" size="small" variant="simple">
          <p>Il campo 'nome' è obbligatorio</p>
        </p-message>
      }
      @if (getFieldErrors('nome')?.['minlength']) {
        <p-message severity="error" size="small" variant="simple">
          <p>Il campo 'nome' deve essere lungo almeno {{ getFieldErrors('nome')?.['minlength'].requiredLength }}
            caratteri</p>
        </p-message>
      }
    }
  </div>
</form>
<hr>
<p>
  Valido:
  @if (getField('nome')?.valid) {
    <p-tag severity="success" value="true - Valid"/>
  } @else {
    <p-tag severity="danger" value="false - Invalid"/>
  }
</p>
<div class="border-b-amber-950 w-60 border-b-2 pb-0.5"></div>
<p>
  Modificato:
  @if (getField('nome')?.dirty) {
    <p-tag severity="success" value="true - Dirty"/>
  } @else {
    <p-tag severity="danger" value="false - Pristine"/>
  }
</p>
<div class="border-b-amber-950 w-60 border-b-2 pb-0.5"></div>
<p>
  Toccato:
  @if (getField('nome')?.touched) {
    <p-tag severity="success" value="true - Touched"/>
  } @else {
    <p-tag severity="danger" value="false - Untouched"/>
  }
<div class="border-b-amber-950 w-60 border-b-2 pb-0.5"></div>
<p>Pending:
  <p-tag
    [severity]="getField('nome')?.pending ? 'success' : 'danger'"
    value="{{getField('nome')?.pending ? 'true - Pending' : 'false - Not pending'}}"
  />
</p>
